@import url('normalize.css');
html{
	height: 100%;
	width: 100%;
	background-color: #000051;
	color:white;
}
ul, ol{
	list-style: none;
}
body{
	height: 100%;
	width: 100%;
	display: block;
	background-image: url("../img/1.jpg");
	background-position: 80% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
header{
	height: 12%;
	width: 100%;
	color: white;
	display: block;
	box-sizing: border-box;
	background-color: #000a12;
	border-bottom: 4px solid #e3f2fd;
}
#logo{
	width: 35%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	float: left;
	font-family: cooper black;
	font-size: 2vw;
}
#menubt{
	display: none;
}
#menu{
	display: none;
}
nav{
	height: 100%;
	width: 35%;
	display: inline-block;
	float: right;
	box-sizing: border-box;
	margin-right: 3%;
}
nav ul{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.boton{
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	float: right;
	font-family: centaur normal;
	font-size: 1.4vw;
}
a:link{
	text-decoration: none;
	color: white;
	font-size: 1.4vw;
}
a:visited{
	text-decoration: none;
	color: white;
	font-size: 1.4vw;
}
a:hover{
	transform: scale(1.1,1.1);
	background-color: none;
}
section{
	height: 76%;
	width: 100%;
	display: block;
}
.texto{
	width: 100%;
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 3% 5%;
}
p{
	text-align: justify;
	font-size: 1.3vw;
	margin-top: 2%;
	box-sizing: border-box;
	color:white;
}
.texto ul{
	margin: 4% 2%;
	box-sizing: border-box;
}
.texto ul li{
	font-size: 1.2vw;
	margin: 1%;
}
.titulo{
	text-align:center;
	font-size:1.3vw;
}

footer{
	height: 12%;
	width:100%;
	box-sizing: border-box;
	background-color: #000a12;
	border-top: 4px solid #e3f2fd;
	display: flex;
	align-items: center;
	justify-content: center;
}
				/* !!!CONTACTO!!! */

#ulc{
	width: 100%;
	padding: 3% 8%;
	box-sizing:border-box;
	margin: 0;
	display:block;
}
#ulc a:link{
	font-size: 1.2vw;
}
#ulc a:visited{
	font-size: 1.2vw;
}
.contacto{
	display: block;
	width: 100%;
	margin: 2% 0;
	font-size: 1.3vw;
	color:gray;
}
i{
	font-size: 1.6vw;
	display: inline-block;
	margin-right: 4%;
}
				/* !!!SLIDE!!! */
.slideshow{
	width: 100%;
	position: relative;
	height: 100%;
	display: flex;
}
.slider li, ul{
	width: 100%;
}
.slider {
	display: flex;
	margin: 0;
	padding:0;
	height: 100%;
	overflow: hidden;
}
.slider li img{
	width: 100%;
	height: 100%;
}
.slider .caption{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	display: flex;
	color: #fff;
}
.caption p{
	width: 100%;
	height:7%;
	font-size:2.8vw;
	display: flex;
	justify-content: center;
	position: relative;
	top:28%;
	margin:0;
	padding:0;
}
.pagination{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	z-index: 1;
}
.pagination li{
	font-size: 1.1vw;
	margin: 2px 5px;
	color: #858585;
	cursor: pointer;
}
.left, .right{
	position: absolute;
	bottom: 0;
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 2vw;
	cursor: pointer;
	z-index: 1;
}
.left{
	left: 10px;
}
.right{
	right: 10px;
}
				/* MEDIA QUERTYES */

@media (orientation: portrait){
	header{
		height: 10%;
	}
	section{
		height: 80%;
	}
	footer{
		height: 10%;
	}
	#logo{
		font-size: 3.4vw;
		padding-left: 4%;
	}
	#menubt{	
		float: right;	
		height: 100%;
		width: 15%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 5vw;
	}
	#menu:checked ~ nav{
		display: block;
	}
	nav{
		display: none;
		position: absolute;
		right: 0;
		top: 10%;
		height: 10%;
		width: 45%;
		background-color: gray;
		opacity: 0.8;
		margin: 0;
		z-index: 1;
	}
	.boton{
		font-size: 3vw;
		width: 100%;
		height: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.texto{
		width: 100%;
		padding: 5%;
		box-sizing: boder-box;
	}
	p{
		font-size: 2.8vw;
	}
	a:link{
		text-decoration: none;
		color: white;
		font-size: 2.9vw;
	}
	a:visited{
		text-decoration: none;
		color: white;
		font-size: 2.9vw;
	}
	a:hover{
		transform: none;
		background-color: none;
	}
	.texto ul{
		margin: 10% 0;
	}
	.texto ul li{
		font-size: 2.8vw;
		margin:4%;
	}
	.titulo{
		font-size:2.8vw;
	}
	#ulc a:link{
		font-size: 2.8vw;
	}
	#ulc a:visited{
		font-size: 2.8vw;
	}
	.contacto{
		margin: 0 0 8% 0;
		font-size: 2.8vw;
	}
	i{
		font-size: 4vw;
	}
	#presentacion{
	display: flex;
	align-items: center;
	justify-content: center;
	}
	.slideshow{
		height: 50%;
	}
	.caption p{
		font-size:3.8vw;
	}
	.pagination li{
		font-size: 2.5vw;
	}
	.left, .right {
		font-size: 5vw;
	}
}
@media (max-width: 400px) and  (orientation: portrait){
	#logo{
		font-size: 3.5vw;
			}
	.boton{
		font-size: 3.7vw;
	}
	p{
		font-size: 3.7vw;
	}
	a:link{
		text-decoration: none;
		color: white;
		font-size: 3.7vw;
	}
	a:visited{
		text-decoration: none;
		color: white;
		font-size: 3.7vw;
	}
	.texto ul li{
		font-size: 3.7vw;
	}
	.titulo{
		font-size:3.7vw;
	}
	#ulc a:link{
		font-size: 3.7vw;
	}
	#ulc a:visited{
		font-size: 3.7vw;
	}
	.contacto{
		font-size: 3.7vw;
	}
	.pagination li{
		font-size:3.5vw;
	}
}
